body { font-family: Helvetica; }

main {
}

div {
  width: 300px;
  margin: auto;
}

div.buttonDiv {
  float: right;
}

div.flow {

  border-top: 2px dashed;
  border-color: lightseagreen !important;
  margin:0; padding: 30px;
}



div.flow:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
}

div.flow:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

div.flow:first-child {
  border-top: 0;
  border-top-right-radius:30px;
  border-top-left-radius:0;
  padding-top: 10px;
}

div.flow:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

/* FORM */

.container {
  padding: 1rem;
  width: 268px;
  height: auto;
  display: none;
  background: #cccccc;
  opacity: .8;
  border-radius: 10px;
}


.submit {
  position: relative;
  background-color: lightseagreen;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: Helvetica;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #555555 solid 1px;
  color: #555555;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 90%;
  font-size: 18px;
  font-family: Helvetica;
  margin: 3px;
}

button {
  background-color: black;
  font-family: Helvetica;
  color: whitesmoke;
}

/* HEADERS */

h2.positive {
  color: lightseagreen;
}

h2.negative {
  color: mediumorchid;
}

/* NEW POST FORM */
.new-entry-form {
  padding: 1rem;
  width: 268px;
  height: auto;
  background: #cccccc;
  opacity: .8;
  border-radius: 5px;
}

header {
  width: 300px;
  border: 2px dashed;
  border-radius: 30px;
  border-color: lightseagreen !important;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

img.display {
width: 300px;
border-radius: 10px;
}

img.hidden {
  display: none;
}

#feels-select {
  width: 260px;
  font-size: 16px;
  height: 30px;
}

#context-select {
  width: 260px;
  font-size: 16px;
  height: 30px;
}

/* .date-class {
  display: inline;
  margin-bottom: 20px;
} */

h6.date-class {
margin-top: 5px;
margin-bottom: 10px;
}

h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

h5 {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* nav button */

.fixed-button {
  position: fixed;
    bottom: 20px;
    right: 20px;
  background-color: lightseagreen;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: Helvetica;
  margin: 3px;
}
